

ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    width: 90%;
    max-width: 95rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
}

ul li {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 2rem 1rem;
}

ul a:hover, ul a:active {
    color: #B8860B;
}

h1 {
    color: #2F4F4F;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:48px;

}

h2 {
    color: #2F4F4F;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

a {
  color: #2F4F4F;

}

body {
  background-image: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626710026_1-kartinkin-com-p-svetlii-fon-priroda-krasivo-1.jpg");
  background-size: cover
}